@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
figure {
  img {
    width: 100%;
  }
}

.todo {
  color: red;
  &::before {
    content: "TODO: ";
  }
}
.comment {
  &, & * {
    color: red !important;
  }

  font-style: italic;
  &:before {
    content: "[";
  }
  &[data-author]:before {
    content: "[" attr(data-author) ": ";
  }
  &:after {
    content: "]";
  }
}
del.comment {
  text-decoration: line-through;
  &:before, &[data-author]:before, &:after {
    content: "";
  }
  &[data-author]:after {
    content: " (" attr(data-author) ")";
  }
}

.spelling {
  text-decoration: underline wavy red;
}
.grammar {
  text-decoration: underline wavy darkgreen;
}
.rephrase {
  text-decoration: underline wavy blue;
}
.reference.needed {
  &:before {
    content: "[?!]";
    color: red;
    font-weight: bold;
  }
}

code {
  font-family: "Ubuntu Mono", monospace;
}

li p {
  display: inline;
}

dl {
  margin: 1em 0;

  dt {
    font-weight: bold;
    float: left;
    clear: left;
    margin-right: 1ex;
  }
}

var {
  font-style: italic;
}

main {
  h1.no-label-increment,
  h2.no-label-increment,
  h3.no-label-increment,
  h4.no-label-increment,
  h5.no-label-increment {
    &::before {
      content: "";
    }
  }
}

ol.index-entries {
  list-style-type: decimal;

  li {
    margin-left: 1em;
  }
}
