@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@font-face {
  font-family: 'Linux Libertine';
  src: url('../fonts/LinLibertine_R.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Linux Libertine';
  src: url('../fonts/LinLibertine_RB.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Linux Biolinum';
  src: url('../fonts/LinBiolinum_R.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Linux Biolinum';
  src: url('../fonts/LinBiolinum_RB.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
.printfont1 {
  font-family: "Linux Libertine", sans-serif;
}
.printfont2 {
  font-family: "Linux Libertine", sans-serif;
  font-weight: bold;
}
.printfont3 {
  font-family: "Linux Biolinum", sans-serif;
}
.printfont4 {
  font-family: "Linux Biolinum", sans-serif;
  font-weight: bold;
}
